*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body{
    background-color: #0b1014;
    font-family: sans-serif;
}
.mx-wd{
    max-width: 1300px;
}
.auto{
    margin: 0 auto;
}
.all{
    height: 90vh;
    display: flex;
    margin-top: 30px;
}
.left{
    width: 400px;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #121b22;
    border-right: 1px solid #232f38;
}
.top-nav{
    display: flex;
    padding: 10px;
    background: #1f2c34;
    align-items: center;
     
}
.user_profile{
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background-position: center;
    background-size: cover;
    background-color: #fff;
}
img{
    max-width: 120%;
    min-height: 100%;
    min-width: 100%;
    max-height: 130%;
}
.icons{
    flex-grow: 1;
    display: flex;
}
.icons div{
    width: 24px;
    height: 20px;
    margin: 0 10px;
    fill: #fff;
    cursor: pointer;
}
.icons .ellipsis{
width: 7px;
}
.icons .message{
    width: 18px;
    height: 18px;
}
.icons .search_icon{
    width: 18px;
}
.icons > div:first-child{
    margin-left: auto;
}
.search{
    display: flex;
    border-bottom: 1px solid #232f38;
    padding: 10px;
    align-items: center;
}
.search > .search_icon{
    background-color: #e4e4e4;
    display: flex;
    align-items: center;
    border-radius: 5px;
}
.search_icon > div{
    overflow: hidden;
    cursor: pointer;
    padding:8px 7px ;
}
.search_icon > div span{
    width: 20px;
    height: 20px;
    fill: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search_icon > input{
    padding: 8px 10px;
    width: 310px;
    background-color: transparent;
    border: none;
    color: #333;
    outline: none;
}
.recent{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.users{
    border-bottom: 1px solid #232f38;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 20px 4px;
}
.profile{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    background: #fff;
}
.name{
    margin-left: 10px;
    font-size: 20px;
    flex-grow: 1;

}
.users:hover{
    background: #232f38;
    /* border: 1px solid #232f38; */
}
.right{
    flex-grow: 1;
    position: relative;
}
.right > div.background{
    background-image: url("./img/whatsapp-background.png");
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: repeat;
    opacity: 0.06;
    background-size: 400px;
}
.chat-body{
    display: flex;
    position:absolute;
    flex-direction: column;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #fff;
}
.chat-body > div:first-child{
    padding: 10px;
    background: #1f2c34;
    display: flex;
    align-items: center;
}
.chat-body > div:nth-child(2){
    flex-grow: 1;
}
.chat-body>div:nth-child(3){
    padding: 10px;
    background-color: #1f2c34;
    display: flex;
    align-items: flex-end;
}
.footer{
    display: flex;
    font-size: 14px;
}
.footer > form{
    width: 100%;

}
.footer > form > .chat{
    display: flex;
    align-items: center;
}
.input > input[type=text]{
    width: 95%;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 10px 2%;
    color:#ccc;
}
.input{
    flex-grow: 1;
    background-color: #293741;
    overflow: hidden;
    border-radius: 8px;
}
.footer-icons{
    display: flex;
}
.footer-icons div{
    width: 15px;
    fill: #fff;
    margin: 0 8px;
}